@tailwind base;
@tailwind components;
@tailwind utilities;


.haderbd{
    background-image: url(c4.jpg);
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}